In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df= pd.read_csv(r"D:\Centurion University\5th Semester\ML for Predictive Analysis\Heart_Disease_Prediction.csv")

In [4]:
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [5]:
df.index[3]

3

In [6]:
x_train= df.iloc[:,1:13]

In [7]:
y_train = df.iloc[:,13:14]

In [8]:
y_train.head()

  Heart Disease
0      Presence
1       Absence
2      Presence
3       Absence
4       Absence

In [9]:
y_train = pd.get_dummies(y_train)

In [10]:
y_train.head()

   Heart Disease_Absence  Heart Disease_Presence
0                      0                       1
1                      1                       0
2                      0                       1
3                      1                       0
4                      1                       0

In [11]:
y_train.shape

(270, 2)

In [12]:
y_train = y_train.iloc[:,1:2]

In [13]:
x_train.head()

,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,1,4,130,322,0,2,109,0,2.4,2,3,3
1,0,3,115,564,0,2,160,0,1.6,2,0,7
2,1,2,124,261,0,0,141,0,0.3,1,0,7
3,1,4,128,263,0,0,105,1,0.2,2,1,7
4,0,2,120,269,0,2,121,1,0.2,1,1,3

In [14]:
x_train.shape

(270, 12)

In [15]:
y_train = np.array(y_train).reshape(270)

In [16]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
scaler.fit(x_train)
scaled = scaler.transform(x_train)
scaled_df = pd.DataFrame(scaled, columns=x_train.columns)

In [17]:
scaled_df

,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,1.0,1.00,0.650,0.570922,0.0,1.0,0.539604,0.0,0.387097,0.666667,1.000000,0.428571
1,0.0,0.75,0.575,1.000000,0.0,1.0,0.792079,0.0,0.258065,0.666667,0.000000,1.000000
2,1.0,0.50,0.620,0.462766,0.0,0.0,0.698020,0.0,0.048387,0.333333,0.000000,1.000000
3,1.0,1.00,0.640,0.466312,0.0,0.0,0.519802,1.0,0.032258,0.666667,0.333333,1.000000
4,0.0,0.50,0.600,0.476950,0.0,1.0,0.599010,1.0,0.032258,0.333333,0.333333,0.428571
...,...,...,...,...,...,...,...,...,...,...,...,...
265,1.0,0.75,0.860,0.352837,1.0,0.0,0.801980,0.0,0.080645,0.333333,0.000000,1.000000
266,1.0,0.50,0.600,0.466312,0.0,0.0,0.856436,0.0,0.000000,0.333333,0.000000,1.000000
267,0.0,0.50,0.700,0.521277,0.0,1.0,0.757426,0.0,0.209677,0.666667,0.000000,0.428571
268,1.0,1.00,0.700,0.340426,0.0,0.0,0.732673,0.0,0.064516,0.666667,0.000000,0.857143
269,1.0,1.00,0.800,0.507092,0.0,1.0,0.534653,1.0,0.241935,0.666667,1.000000,0.428571

In [18]:
from sklearn.linear_model import LogisticRegression
clf= LogisticRegression(random_state=0).fit(scaled_df,y_train)

In [19]:
clf.score(scaled_df,y_train)

0.8518518518518519